*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
@font-face {
	font-family: 'SiYuanRegular';
	src: url('http://cdn.webfont.youziku.com/webfonts/nomal/127762/46827/5c74b7b9f629d800d0a2cbb7.gif?r=99546681899');
	src: url('http://cdn.webfont.youziku.com/webfonts/nomal/127762/46827/5c74b7b9f629d800d0a2cbb7.gif?r=99546681899?#iefix') format('embedded-opentype'),
	url('http://cdn.webfont.youziku.com/webfonts/nomal/127762/46827/5c74b7b9f629d800d0a2cbb7.png?r=99546681899') format('woff2'),
	url('http://cdn.webfont.youziku.com/webfonts/nomal/127762/46827/5c74b7b9f629d800d0a2cbb7.bmp?r=99546681899') format('woff'),
	url('http://cdn.webfont.youziku.com/webfonts/nomal/127762/46827/5c74b7b9f629d800d0a2cbb7.jpg?r=99546681899') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.rb_content{
	margin-top: 45px;
	position: relative;
	overflow: hidden;
	background-color: #f0f0f0;
}

/*回到顶部*/
.rb_to_top{
	display: none;
    z-index: 3;
    opacity: 0.5;
    background-image: url('../images/back-to-top1.png');
    cursor: pointer;
}
.rb_to_top:hover,.rb_to_top:focus{
	opacity: 1;
    background-image: url('../images/back-to-top.png');
}
/*内容开始*/
@media (min-width: 768px){
	/*图片*/
	.rb_products_item_1{
		background-image: url('../images/pc/1G550A.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_2{
		background-image: url('../images/pc/2G100a.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_3{
		background-image: url('../images/pc/3G90A.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_4{
		background-image: url('../images/pc/4G35S.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_5{
		background-image: url('../images/pc/5Q9.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_6{
		background-image: url('../images/pc/6Q7s.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_7{
		background-image: url('../images/pc/7A3.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_8{
		background-image: url('../images/pc/8A2.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}

@media (max-width: 767px){
	/*图片*/
	.rb_products_item_1{
		background-image: url('../images/mobile/1G550A-min.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_2{
		background-image: url('../images/mobile/2G100a-min.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_3{
		background-image: url('../images/mobile/3G90A-min.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_4{
		background-image: url('../images/mobile/4G35S-min.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_5{
		background-image: url('../images/mobile/5Q9-min.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_6{
		background-image: url('../images/mobile/6Q7s-min.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_7{
		background-image: url('../images/mobile/7A3-min.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.rb_products_item_8{
		background-image: url('../images/mobile/8A2-min.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}




@media all and  (min-width: 1172px){
	#rb_product_list{
		margin: 0 auto;
		width: 1172px;
		font-family: 'SiYuanRegular';
	}
}
@media all and  (max-width: 1171px){
	#rb_product_list{
		width: 100%;
		font-family: 'SiYuanRegular';
	}
}



@media all and  (min-width: 768px){
	.max{
		display: block !important;
	}
	.min{
		display: none !important;
	}
	
	#rb_product_list #student_slab,#rb_product_list #child_slab, #rb_product_list #watch{
		width: 100%;
	}
	#rb_product_list .rb_product_title{
		width: 100%;
		margin: 2.846% 0;
	}
	#rb_product_list .rb_products{
		position: relative;
		margin-top: -1.5%;
		width: 100%;
		/*display: flex;
		justify-content: space-between; 
		flex-wrap: wrap;*/
	}
	#rb_product_list .rb_products .rb_products_item{
		position: relative;
		width:49.489%;/*574.86*/
		padding-top: 36.834%;
		background-color: white;
		margin-top: 1.2%;
		cursor: pointer;
		transition: all .2s;
	}
	#rb_product_list .rb_products .rb_products_item:nth-child(odd){
		float: left;
	}
	#rb_product_list .rb_products .rb_products_item:nth-child(even){
		float: right;
	}
	#rb_product_list .rb_products .rb_products_item.rb_products_item_active{
		box-shadow: rgb(204,204,204) 0px 10px 20px;
		top: -5px;
	}
	#rb_product_list .rb_products .rb_products_item .rb_products_item_name{
		position: absolute;
		top: 10.4545%;
		width: 100%;
		color: #0d0d0d;
		font-weight: 600;
		text-align: center;
	}
	#rb_product_list .rb_products .rb_products_item .rb_products_item_descrip{
		position: absolute;
		top: 20.34%;
		width: 100%;
		color: #0d0d0d;
		text-align: center;
	}
	#rb_product_list .rb_products .rb_products_item .rb_products_item_view{
		position: absolute;
		left: 22.413%;
		top: 27.73%;
		width: 55.667%;
		height: 50.69%;
	}
	#rb_product_list .rb_products .rb_products_item .rb_products_item_link{
		/*display: -webkit-box;
		display: flex;*/
		/*justify-content: center;
		-webkit-justify-content: center;*/
		box-sizing: border-box;
		margin: auto;
		padding-top: 1%;
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 9.318%;
		width: 20.862%;
		height: 7.045%;
		border: 1px solid #999;
		border-radius: 15px;
	    color: #333;
		text-align: center;
		text-decoration: none;
		transition: all .2s;
		-webkit-transition: all .2s;
	}
	/*#rb_product_list .rb_products .rb_products_item .rb_products_item_link.rb_products_active{
		background-color: #f8f8f8;
		border: 1px solid #333333;
	}*/
	#rb_product_list .rb_products .rb_products_item .rb_products_item_link:hover{
		background-color: #e60012;
		color: white;
		border: 1px solid #e60012;
	}
	.rb_products:last-child{
		margin-bottom: 2.846%;
	}
	
}
@media all and (max-width: 767px){
	.max{
		display: none !important;
	}
	.min{
		display: block !important;
	}
	.rb_products_1{
		position: relative;
		width:100%;
		padding-top: 146.667%;
	}
	.rb_products_1 .rb_products_bg{
		margin: auto;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 8%;
		width: 60.8%;
		padding-top: 17.87%;
		background-image: url('../images/mobile/1title-min.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: 2;
	}
	.rb_products_1 .rb_products_item_name{
		position: absolute;
		top: 24.7272%;
		width: 100%;
		text-align: center;
		font-size: 0.6rem;
		font-weight: 600;
		z-index: 2;
	}
	.rb_products_1 .rb_products_item_view{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.rb_products_1 .rb_products_item_descrip{
		position: absolute;
		top: 31.7272%;
		width: 100%;
		text-align: center;
		font-size: 0.3rem;
		z-index: 2;
	}
	.rb_products_1 .rb_products_item_link{
		text-decoration: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	.rb_products_1 .rb_products_item_link:first-of-type{
		position: absolute;
		left: 1.45rem;
		top: 4.5rem;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		color: #333333;
		border: 1px solid #999999;
		border-radius: 0.26rem;
		z-index: 2;
	}
	.rb_products_1 .rb_products_item_link:last-child{
		position: absolute;
		right: 1.45rem;
		top: 4.5rem;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		background-color: #e60012;
		border-radius: 0.26rem;
		color: white;
		z-index: 2;
	}




	.rb_products_2{
		margin-top: 0.14rem;
		position: relative;
		width:100%;
		padding-top: 110.4%;
	}
	.rb_products_2 .rb_products_item_name{
		position: absolute;
		top: 12.077%;
		width: 100%;
		text-align: center;
		font-size: 0.6rem;
		font-weight: 600;
		color: white;
		z-index: 2;
	}

	.rb_products_2 .rb_products_item_view{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.rb_products_2 .rb_products_item_descrip{
		position: absolute;
		top: 21.377%;
		width: 100%;
		text-align: center;
		font-size: 0.3rem;
		color: white;
		z-index: 2;
	}
	.rb_products_2 .rb_products_item_link{
		text-decoration: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	.rb_products_2 .rb_products_item_link:first-of-type{
		position: absolute;
		left: 1.45rem;
		top: 31.367%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		color: white;
		border: 1px solid white;
		border-radius: 0.26rem;
		z-index: 2;
	}
	.rb_products_2 .rb_products_item_link:last-child{
		position: absolute;
		right: 1.45rem;
		top: 31.367%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		background-color: #e60012;
		border-radius: 0.26rem;
		color: white;
		z-index: 2;
	}


	.rb_products_3{
		margin-top: 0.14rem;
		position: relative;
		width:100%;
		padding-top: 50.67%;
	}
	.rb_products_3 .rb_products_item_name{
		position: absolute;
		right: -26%;
		top: 28.895%;
		width: 100%;
		text-align: center;
		font-size: 0.6rem;
		font-weight: 600;
		z-index: 2;
	}
	.rb_products_3 .rb_products_item_view{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.rb_products_3 .rb_products_item_link{
		text-decoration: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		position: absolute;
		right: 10%;
		top: 53.421%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		color: #0d0d0d;
		border: 1px solid #0d0d0d;
		border-radius: 0.26rem;
		z-index: 2;
	}


	.rb_products_4{
		margin-top: 0.14rem;
		position: relative;
		width:100%;
		padding-top: 50.67%;
	}
	.rb_products_4 .rb_products_item_name{
		position: absolute;
		right: -26%;
		top: 28.895%;
		width: 100%;
		text-align: center;
		font-size: 0.6rem;
		font-weight: 600;
		z-index: 2;
	}
	.rb_products_4 .rb_products_item_view{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.rb_products_4 .rb_products_item_link{
		text-decoration: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		position: absolute;
		right: 10%;
		top: 53.421%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		color: #0d0d0d;
		border: 1px solid #0d0d0d;
		border-radius: 0.26rem;
		z-index: 2;
	}



	.rb_products_5{
		margin-top: 0.14rem;
		position: relative;
		width:100%;
		padding-top: 132%;
	}
	.rb_products_5 .rb_products_item_view{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.rb_products_5 .rb_products_bg{
		margin: auto;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 6.263%;
		width: 49.067%;
		padding-top: 20.27%;
		background-image: url('../images/mobile/5title-min.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: 2;
	}
	.rb_products_5 .rb_products_item_name{
		position: absolute;
		left: 0%;
		top: 26.7677%;
		width: 100%;
		text-align: center;
		font-size: 0.6rem;
		color: white;
		font-weight: 600;
		z-index: 2;
	}
	.rb_products_5 .rb_products_item_descrip{
		position: absolute;
		top: 35.7475%;
		width: 100%;
		text-align: center;
		font-size: 0.3rem;
		color: white;
		z-index: 2;
	}

	.rb_products_5 .rb_products_item_link{
		text-decoration: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	.rb_products_5 .rb_products_item_link:first-of-type{
		position: absolute;
		left: 1.45rem;
		top: 43.9394%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		color: white;
		border: 1px solid white;
		border-radius: 0.26rem;
		z-index: 2;
	}
	.rb_products_5 .rb_products_item_link:last-child{
		position: absolute;
		right: 1.45rem;
		top: 43.9394%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		background-color: #e60012;
		border-radius: 0.26rem;
		color: white;
		z-index: 2;
	}



	.rb_products_6{
		margin-top: 0.14rem;
		position: relative;
		width:100%;
		padding-top: 110.4%;
	}
	.rb_products_6 .rb_products_item_name{
		position: absolute;
		top: 12.077%;
		width: 100%;
		text-align: center;
		font-size: 0.6rem;
		font-weight: 600;
		color: black;
		z-index: 2;
	}

	.rb_products_6 .rb_products_item_view{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.rb_products_6 .rb_products_item_link{
		text-decoration: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	.rb_products_6 .rb_products_item_link:first-of-type{
		position: absolute;
		left: 1.45rem;
		top: 31.367%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		color: #0d0d0d;
		border: 1px solid #0d0d0d;
		border-radius: 0.26rem;
		z-index: 2;
	}
	.rb_products_6 .rb_products_item_link:last-child{
		position: absolute;
		right: 1.45rem;
		top: 31.367%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		background-color: #e60012;
		border-radius: 0.26rem;
		color: white;
		z-index: 2;
	}


	.rb_products_7{
		margin-top: 0.14rem;
		position: relative;
		width:100%;
		padding-top: 120%;
	}
	.rb_products_7 .rb_products_bg{
		margin: auto;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 7.3333%;
		width: 88.267%;
		padding-top: 18.134%;
		background-image: url('../images/mobile/7title-min.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: 2;
	}
	.rb_products_7 .rb_products_item_view{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.rb_products_7 .rb_products_item_name{
		position: absolute;
		top: 29%;
		width: 100%;
		text-align: center;
		font-size: 0.6rem;
		font-weight: 600;
		color: white;
		z-index: 2;
	}
	.rb_products_7 .rb_products_item_descrip{
		position: absolute;
		top: 35.556%;
		width: 100%;
		text-align: center;
		font-size: 0.3rem;
		color: white;
		z-index: 2;
	}
	.rb_products_7 .rb_products_item_link{
		text-decoration: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	.rb_products_7 .rb_products_item_link:first-of-type{
		position: absolute;
		left: 1.45rem;
		top: 45.3333%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		color: white;
		border: 1px solid white;
		border-radius: 0.26rem;
		z-index: 2;
	}
	.rb_products_7 .rb_products_item_link:last-child{
		position: absolute;
		right: 1.45rem;
		top: 45.3333%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		background-color: #e60012;
		border-radius: 0.26rem;
		color: white;
		z-index: 2;
	}



	.rb_products_8{
		margin-top: 0.14rem;
		position: relative;
		width:100%;
		padding-top: 120%;
	}
	.rb_products_8 .rb_products_bg{
		margin: auto;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 7.3333%;
		width: 78%;
		padding-top: 10.1%;
		background-image: url('../images/mobile/8title-min.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: 2;
	}
	.rb_products_8 .rb_products_item_view{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.rb_products_8 .rb_products_item_name{
		position: absolute;
		top: 25.444%;
		width: 100%;
		text-align: center;
		font-size: 0.6rem;
		font-weight: 600;
		color: black;
		z-index: 2;
	}
	.rb_products_8 .rb_products_item_descrip{
		position: absolute;
		top: 35.556%;
		width: 100%;
		text-align: center;
		font-size: 0.3rem;
		color: black;
		z-index: 2;
	}
	.rb_products_8 .rb_products_item_link{
		text-decoration: none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	.rb_products_8 .rb_products_item_link:first-of-type{
		position: absolute;
		left: 1.45rem;
		top: 45.3333%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		color: #0d0d0d;
		border: 1px solid #0d0d0d;
		border-radius: 0.26rem;
		z-index: 2;
	}
	.rb_products_8 .rb_products_item_link:last-child{
		position: absolute;
		right: 1.45rem;
		top: 45.3333%;
		width: 2.1rem;
		text-align: center;
		height: 0.52rem;
		line-height: 0.52rem;
		font-size: 0.24rem;
		background-color: #e60012;
		border-radius: 0.26rem;
		color: white;
		z-index: 2;
	}

}






/*统一字体大小*/
@media screen and (min-width:1184px) {
	.rb_products_title_size{
		font-size: 22px;
	}
	.rb_products_size{
		font-size: 28px;
	}
	.rb_products_descrip_size{
		font-size: 16px;
	}
	.rb_products_btn_size{
		font-size: 14px;
	}
}
@media screen and (max-width:1183px) and (min-width:1098px) {
	.rb_products_title_size{
		font-size: 21px;
	}
	.rb_products_size{
		font-size: 26px;
	}
	.rb_products_descrip_size{
		font-size: 15px;
	}
	.rb_products_btn_size{
		font-size: 13px;
	}
}
@media screen and (max-width:1097px) and (min-width:993px) {
	.rb_products_title_size{
		font-size: 20px;
	}
	.rb_products_size{
		font-size: 25px;
	}
	.rb_products_descrip_size{
		font-size: 14px;
	}
	.rb_products_btn_size{
		font-size: 12px;
	}
}
@media screen and (max-width:992px) and (min-width:852px) {
	.rb_products_title_size{
		font-size: 19px;
	}
	.rb_products_size{
		font-size: 24px;
	}
	.rb_products_descrip_size{
		font-size: 13px;
	}
	.rb_products_btn_size{
		font-size: 12px;
	}
}
@media screen and (max-width:851px) and (min-width:768px) {
	.rb_products_title_size{
		font-size: 18px;
	}
	.rb_products_size{
		font-size: 23px;
	}
	.rb_products_descrip_size{
		font-size: 12px;
	}
	.rb_products_btn_size{
		font-size: 12px;
	}
}







